$offcanvas-width: 250px;
$accent-color: #f76f63;

.uk-modal-full {
    background: rgba(0,0,0,0.8);
}

.uk-modal-dialog {
    background-color: transparent;
    color: white;
}

.loading-text {
    margin-top: 10px;
    margin-bottom: 10px; 
    color: #fff;
}

.about-text {
    margin-top: 5px;
    margin-bottom: 5px; 
    color: #fff;
}

.uk-offcanvas-content, .ch-offcanvas-wrapper {

    #map-container {
        height: calc(100vh - 80px);
    }
    
    .uk-navbar-container {
        /* background: linear-gradient(to left, #222425, #12354a); */
        background: #222425;
        color: rgba(255,255,255,0.8);

        .uk-navbar-nav>li>a {
            color: rgba(255, 255, 255, 0.8);

            &:hover {
                color: $accent-color;
            }
        }

        .uk-logo {
            color: rgba(255,255,255,1);
            font-size: 1rem;
            text-transform: uppercase
        }

        .uk-navbar-toggle {
            padding: 0px 0px 0px 15px;
            color: rgba(255,255,255,0.7);
        }
    }

    .uk-nav-default {
        font-size: 1rem;
    }

    .ch-nav-heading {
        color: #fff;
        font-weight: bold;
        border-bottom: 1px solid #fff;
    }

    .ch-accent-color {
        color: $accent-color;
    }

    .ch-nav-link {
        transition: .1s ease-in-out;
        transition-property: color,background-color;

        &:hover {
            color: $accent-color;
        }
    }

    .ch-sidebar-left {
        background: #333;
    }

    .pin-counter {
        color: $accent-color;
        font-weight: bold;
        text-transform: uppercase;

    }

    .ch-offcanvas-wrapper {
        .uk-offcanvas-bar {
            width: $offcanvas-width;
        }
    }
}

.ch-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 40px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}


@media (min-width: 960px) {
    .ch-sidebar-left+.ch-main {
        padding-left: 240px;
    }
}