$drkbg: #222;
$offcanvas-width: 250px;

.uk-offcanvas-content {
    
}

.uk-offcanvas-bar {
    width: $offcanvas-width;
}

:not(.uk-offcanvas-flip)>.uk-offcanvas-content-animation {
    left: $offcanvas-width;
}


.ch-sidebar-left {
  position: fixed;
  top: 80px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 40px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
}


@media (min-width: 960px) {
    .ch-sidebar-left+.ch-main {
        padding-left: 240px;
    }
}